[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
[submodule "themes/color-your-world"]
	path = themes/color-your-world
	url = https://gitlab.com/rmaguiar/hugo-theme-color-your-world.git